# ===================================================================
# Spring Boot configuration for the "dev" profile.
#
# This configuration overrides the application.yml file.
#
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

logging :
  level :
    ROOT : DEBUG
    org.hibernate.SQL : DEBUG
    com.kvmix.dashboard : DEBUG

spring :
  devtools :
    restart :
      enabled : true
      additional-exclude : static/**
    livereload :
      enabled : true
  jackson :
    serialization :
      indent-output : true
  datasource :
    type : com.zaxxer.hikari.HikariDataSource
    url : jdbc:postgresql://localhost:5432/mydatabase
    username : devuser
    password : changeme
    hikari :
      poolName : Hikari
      auto-commit : false
  liquibase :
    contexts : dev
  mail :
    host : localhost
    port : 25
    username :
    password :
  messages :
    cache-duration : PT1S # 1 second, see the ISO 8601 standard
  thymeleaf :
    cache : false

server :
  port : 8080


iqkv :
  cache : # Cache configuration
    ehcache : # Ehcache configuration
      time-to-live-seconds : 3600 # By default, objects stay 1 hour in the cache
      max-entries : 100 # Number of objects in each cache entry
  security :
    # CORS is only enabled by default with the "dev" profile
    cors :
      allowed-origins : 'http://localhost:8100,https://localhost:8100,http://localhost:9000,https://localhost:9000'
      # Enable CORS when running in GitHub Codespaces
      allowed-origin-patterns : 'https://*.githubpreview.dev'
      allowed-methods : '*'
      allowed-headers : '*'
      exposed-headers : 'Authorization,Link,X-Total-Count,X-${iqkv.client-application.name}-alert,X-${iqkv.client-application.name}-error,X-${iqkv.client-application.name}-params'
      allow-credentials : true
      max-age : 1800
    authentication :
      jwt :
        # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
        base64-secret : MjVkMjY4N2UwMWZhOTZlN2M5ZmEzNTE5YzdkNmJiMDJhNDU0OTU2YTUyYjA2OTE5Zjc5ZDZlNGRkMDI3OWRlNjhjYzgxMTJkZGI1MWI5Y2E0NGFmNDI3MjlkMzNhODU1OGU0YWY1OTkwMGJiOWI4YWE4ZDFlMTA2ODNhM2EyMjI=
        # Token is valid 24 hours
        token-validity-in-seconds : 86400
        token-validity-in-seconds-for-remember-me : 2592000
  mail :
    base-url : http://127.0.0.1:8080

